
// ベースフォントサイズ
$root-font-size: 62.5%;
$base_font_size: 1.5rem;

$base_letter_spacing: .05em;


$font-sans: -apple-system, BlinkMacSystemFont,"Segoe UI","Hiragino Sans", "Hiragino Kaku Gothic ProN","Noto Sans Japanese","Yu Gothic Medium",Meiryo,sans-serif !default;
$font-serif: "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho", YuMincho, serif !default;
$font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo, monospace, serif !default;
// ベースフォント
// $base_font: "メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
// $base_font: "Noto Sans JP", "Noto Sans CJK JP", "Noto Sans Japanese", Helvetica-Light, 'Helvetica Light', Helvetica, YuGothic, "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;

$base_font: $font-sans;

