
$is_responsive: true;

// ページ全体の横幅
$inner_width: 1080px;

// メディアクエリの幅設定
$mq_pc_width: $inner_width;
$mq_tab_width: 640px;

$padding_tab: 16px;
$padding_sp: 8px;


$space_base_size: (
	all: 8px,
	tab: 6px,
	sp : 4px
);
$space_size_ratio: (
	xxl: 20,
	xl:  15,
	lg:  10,
	md:  6,
	sm:  3,
	xs:  1,
	xxs: .5
);

