body{
	@if $type == "all"{
		overflow: hidden;
	}
}
.page{
	@if $type == "all"{
		position: relative;
	}
	@if $type == "sp" or $type == "tab"{
		left: 0;
		transition: left .2s;
		width: auto;
	}
}

// ----------------------------------------------------
// inner
// ----------------------------------------------------
.inner{
	@if $type == "all"{
		margin: 0 auto;
		width: $inner_width;
	}
	@if $type == "tab"{
		width: auto;
		margin: 0 $padding_tab;
	}
	@if $type == "sp"{
		width: auto;
		margin: 0 $padding_sp;
	}
}

// ----------------------------------------------------
// header
// ----------------------------------------------------
.page-header{
	@if $type == "all"{

	}
}
.logo-main{
	@if $type == "all"{
	}
}

// ----------------------------------------------------
// global navigation
// ----------------------------------------------------
.nav-main{
	@if $type == "all"{
	}
}


// ----------------------------------------------------
// contents layout
// ----------------------------------------------------
.page-content {
	@if $type == "all"{

	}
}
.content-main{
	@if $type == "all"{

	}
}
.content-sub{
	@if $type == "all"{

	}
}

// ----------------------------------------------------
// main block
// ----------------------------------------------------
.breadcrumbs{
	@if $type == "all"{

	}
}

// ----------------------------------------------------
// sub block
// ----------------------------------------------------


// ----------------------------------------------------
// footer
// ----------------------------------------------------
.page-footer{
	@if $type == "all"{

	}
}

.copyright{
	@if $type == "all"{
		small{
			font-size: 1.2rem;
		}
	}
}
