.tab-contents{
	@if $type == "all"{
		// position: relative;
		> *{
			display: block;
			// transition: visibility .8s, opacity .8s;
			// visibility: visible;
			// opacity: 1;
			&:not(.is-select){
				display: none;
				// transition: none;
				// visibility: hidden;
				// opacity: 0;
				// position: absolute;
			}
		}
	}
}