.tab-menu{
	@if $type == "all"{
		display: flex;
		> li{
			width: 50%;
			padding: 24px 0;
			border: 1px solid $color_font;
			text-align: center;
			font-weight: bold;
			font-size: 2.2rem;
			cursor: pointer;
			&.is-select{
				&::before{
					content: '';
					position: absolute;
					left: calc(50% - 12px);
					top: 100%;
					border-width: 12px;
					border-style: solid;
					border-color: transparent;
					border-top-color: $color_font
				}
			}
			&:not(:last-child){
				border-right: none;
			}
		}
	}
	@if $type == "tab"{
		> li{
			padding: 18px 0;
			font-size: 1.9rem;
			&.is-select{
				&::before{
					left: calc(50% - 8px);
					border-width: 8px;
				}
			}
		}
	}
	@if $type == "sp"{
		> li{
			padding: 12px 0;
			font-size: 1.4rem;
			&.is-select{
				&::before{
					left: calc(50% - 8px);
					border-width: 8px;
				}
			}
		}
	}
}

.tab-contents{
	@if $type == "all"{
		position: relative;
		> *{
			transition: visibility .6s, opacity .6s;
			visibility: visible;
			opacity: 1;
			&:not(.is-select){
				visibility: hidden;
				height: 0;
				overflow: hidden;
				opacity: 0;
				position: absolute;
				top: 0;
			}
		}
	}
}