@font-face {
  font-family: 'webicon';
  src:
    url('fonts/webicon.ttf?sqqtoj') format('truetype'),
    url('fonts/webicon.woff?sqqtoj') format('woff'),
    url('fonts/webicon.svg?sqqtoj#webicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'webicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e901";
}
.icon-system:before {
  content: "\e902";
}
.icon-photo:before {
  content: "\e903";
}
.icon-drone:before {
  content: "\e904";
}
.icon-web:before {
  content: "\e905";
}
.icon-writing:before {
  content: "\e906";
}
.icon-movie:before {
  content: "\e907";
}
.icon-book:before {
  content: "\e908";
}
.icon-graphic:before {
  content: "\e909";
}
.icon-hottokuno:before {
  content: "\e90a";
}
.icon-left:before {
  content: "\e90b";
}
.icon-right:before {
  content: "\e90c";
}
