
@mixin text-border($color, $size:1px) {
	text-shadow: $size 0 0 $color,
				 0 $size 0 $color,
				(-$size) 0 0 $color,
				 0 (-$size) 0 $color;
}

@mixin clearfix() {
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}
@mixin gizi() {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
@mixin stripe($c1,$c2,$size) {
	background-color: $c2;
	background-repeat: repeat;
	background-size: auto auto;
	background-image: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent $size,
		$c1 $size,
		$c1 #{$size * 2}
		);
}

@mixin fade-ini($time: .4s){
	transition: visibility $time, opacity $time;
	visibility: hidden;
	opacity: 0;
	&:hover{
		visibility: visible;
		opacity: 1;
	}
}

@mixin max-screen($break-point) {
	@media screen and (max-width: $break-point) {
		@content;
	}
}

@mixin min-screen($break-point) {
	@media screen and (min-width: $break-point) {
		@content;
	}
}

@mixin screen($break-point-min, $break-point-max) {
	@media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
		@content;
	}
}

@mixin scrollbars($size: 5px, $foreground-color: $color_main, $background-color: #ddd) {
  // For Google Chrome
  &::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  &::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  @at-root{
	  body {
	    scrollbar-face-color: $foreground-color;
	    scrollbar-track-color: $background-color;
	  }
  }
}